.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  overflow-y: auto;
  width: 100%;
}

.container .image {
  display: flex;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.container .themeDate {
  line-height: 1.1;
}

.themeTitle {
  font-size: clamp(1rem, 2vw, 3rem);
  word-wrap: break-word;
  text-align: center;
  line-height: 1.2;
}

.container .themeYear {
  font-size: clamp(1rem, 9vw, 2.5em);
  color: var(--accent);
}

.container .themeDate .themeMonth {
  font-weight: 400;
}
