.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 41px;
  isolation: isolate;
  margin-inline: auto;

  width: 100%;
  max-width: 1440px;
  height: 92px;

  border-radius: 15px;
  z-index: 999;
}

/*  */
.navbar ul {
  position: relative;
  list-style: none;
  display: flex;
  flex: 1;
  gap: 1em;
  justify-content: space-between;
  /* border: 1px solid red */
}

.navbar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: var(--foreground);
  text-decoration: none;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: var(--main);
}

.navbar a.selected {
  color: var(--main);
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: var(--main);
  border-radius: 1px;
  pointer-events: none;
}

.navContainer {
  position: relative;
  width: 100%;
}

.navItems {
  display: flex;
}

.menuContainer {
  pointer-events: none;
  position: relative;
  height: auto;
}
.menuIcon {
  pointer-events: none;
  display: none;
}

@media (max-width: 850px) {
  .navItems a {
    display: none;
  }

  .navbar ul {
    display: none;
  }

  .navbar {
    height: 106px;
    padding-inline: 2em;
    justify-content: end;
    align-items: start;
  }

  .underline {
    display: none;
  }

  .menuIcon {
    display: block;
    pointer-events: all;
  }
}
