.pedestals {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex: 1;
  height: 100%;
}

.themeDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;

  gap: 1rem;
}

.header h2 {
  font-weight: 500;
  font-size: 1.5rem;
  font-family: var(--font-baloo);
}

.header h2:last-child {
  color: var(--accent);
}

.themeTitle {
  font-size: 4rem;
  color: var(--main);
}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.filters button {
  font-size: 1.5rem;
  font-weight: 400;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 20px;
  background-color: var(--main);
}

.topUsers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.topUser {
  position: relative;
}

.topUser:nth-child(odd) {
  width: 200px;
}

.topUser:nth-child(even) {
  width: 360px;
  aspect-ratio: 1/1;
}

.topUser::before {
  content: 'raipunzel';
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--accent);
}

.topUser:nth-child(odd)::before {
  font-size: 1.5rem;
  color: var(--foreground);
  font-weight: 500;
}

.topUser:nth-child(even)::after {
  content: '1st';
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-color: var(--ui-background);
  width: 325px;
  height: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  z-index: 1;
  font-size: 4.25rem;
  font-weight: 800;
  color: var(--accent);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.topUser:nth-child(odd)::after {
  content: '2nd';
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--ui-background);
  width: 185px;
  height: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.topUser:nth-child(3)::after {
  content: '3rd';
  color: rgb(156, 85, 23);
}

.topUserAvatar {
  z-index: 10;
  box-shadow: var(--shadow);
  border: 2px solid black;
}

.rankingList {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.pageNav {
  align-self: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
