.pedestals {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  flex: 1;
  height: 100%;
}

.themeDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.themeDetails h1 {
  font-size: clamp(3rem, 7vw, 5rem);
  font-weight: 700;
  color: var(--main);
}

.serverName {
  font-weight: 500;
  font-size: 2rem;
}

.themeTitle {
  font-size: 4rem;
  color: var(--main);
  line-height: 1.1;
  margin-bottom: 1rem;
  text-shadow: var(--text-outline);
}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.filters button {
  position: relative;
  z-index: 6;
}

.topUsers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.topUser {
  position: relative;
}

.topUser:nth-child(odd) {
  width: clamp(7.5rem, 15vw, 12.5rem);
}

.topUser:nth-child(even) {
  width: clamp(11.25rem, 25vw, 22.5rem);
  aspect-ratio: 1/1;
}

.topUser::before {
  content: attr(data-name);
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
  color: var(--accent);
}

.topUser:nth-child(odd)::before {
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  color: var(--foreground);
  font-weight: 500;
}

.topUser:nth-child(even)::after {
  content: '1st';
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  background-color: var(--ui-background);
  width: clamp(7rem, 22vw, 20.3125rem);
  height: clamp(13rem, 15vw, 12.5rem);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: clamp(-13rem, -5.8vw, -3.5rem);
  z-index: 1;
  font-size: clamp(2rem, 4vw, 4.25rem);
  font-weight: 800;
  color: var(--accent);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.topUser:nth-child(odd)::after {
  content: '2nd';
  display: flex;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 700;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--ui-background);
  width: clamp(5rem, 14vw, 10rem);
  height: clamp(5rem, 10vw, 8.125rem);
  position: absolute;
  padding: clamp(0.2rem, 1vw, 0.6rem);
  left: 50%;
  transform: translateX(-50%);
  bottom: clamp(-8rem, -3.8vw, -2.8rem);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.topUser:nth-child(3)::after {
  content: '3rd';
  color: rgb(156, 85, 23);
}

.topUserAvatar {
  z-index: 10;
  box-shadow: var(--shadow);
  border: 2px solid black;
  display: flex;
}

.rankingList {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.pageNav {
  align-self: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(var(--main) 0 0);
  --r1: radial-gradient(farthest-side at bottom, var(--main) 93%, var(--main));
  --r2: radial-gradient(farthest-side at top, var(--main) 93%, var(--main));
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}
