.stat {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
  position: relative;
}

.iconContainer {
  grid-row: 1;
  width: fit-content;
  justify-self: center;
}

.icon {
  height: auto;
  object-fit: contain;
}
.graphicContainer {
  width: 110px;
  height: auto;
  aspect-ratio: 1/1;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  grid-row: 2;
}

.graphic {
  object-fit: cover;
  filter: contrast(1.1);
}
/* .stat::before {
  content: '';
  object-fit: contain;
  width: 40px;
  aspect-ratio: 1/1;
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
} */

h2.statTitle {
  font-weight: 600;
  font-family: var(--font-baloo);
  font-size: 3.25rem;
  color: var(--accent);
  letter-spacing: -0.09em;
  text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.75), -2px -2px 0 #251628, 2px -2px 0 #251628, -2px 2px 0 #251628, 2px 2px 0 #251628;
  text-align: center;
  grid-row: 3;
}

h2.username {
  text-shadow: 0px 7px 0px rgba(0, 0, 0, 0.75), -2px -2px 0 #251628, 2px -2px 0 #251628, -2px 2px 0 #251628, 2px 2px 0 #251628;
  font-size: 2rem;
  font-weight: 400;
  grid-row: 4;
}

@media (max-width: 990px) {
  h2.statTitle {
    font-size: 1.5rem;
  }

  h2.username {
    font-size: 1.2rem;
  }
}
