.avatarContainer {
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.avatarContainer .avatarImage {
  object-fit: cover;
  object-position: center;
}

.avatarImage.zoomed {
  transform: scale(1.4);
}
