.modalWrapper {
  max-width: 1200px;
  border-radius: 16px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.buttonWrapper .confirmButton {
  align-self: flex-end;
  background-color: var(--main);
  margin-inline: 0px !important;
  margin-right: 2rem !important;
}
