.container {
  background-color: var(--background);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(62, 62, 62, 0.75);
  padding: 1rem;
  border-radius: 20px;
  grid-template-rows: auto;
  grid-template-columns: 0fr 3fr;
  grid-auto-rows: none;
  display: grid;
  gap: 1.5em;
  width: 100%;
  transition: grid-template-columns 500ms;
}

.container.open {
  grid-template-columns: 1fr 3fr;
  transition: grid-template-columns 500ms;
}
.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.wrapper.open {
  grid-template-rows: 1fr;
  transition: grid-template-rows 500ms;
}

.content {
  display: grid;
  grid-template-rows: 0fr 1fr;
  gap: 1rem;
  margin-top: 1em;
  color: var(--foreground);
  overflow: hidden;
  transition: grid-template-rows 0.3s ease, opacity 0.3s ease;
}

.content {
  grid-template-rows: auto 1fr;
  transition: grid-template-rows 0.3s ease, opacity 0.3s ease;
}

/* styling for no themes */
.header.noTheme h3 {
  color: gray;
  font-weight: 500;
}

.header.noTheme h2 {
  color: var(--main);
}

/* styling for suggested themes */
/* .header.suggestion h3 {
} */

.header.suggestion h2 {
  color: var(--accent);
}

.header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-rows: repeat(2, auto);
}

.header h2 {
  color: var(--accent);
  grid-row: 1;
}

.header h3 {
  font-weight: 600;
}

.header button {
  grid-row: 1;
  transform: rotate(0deg);
  transition: all 500ms;
}

.header button.open {
  transform: rotate(45deg) scale(1.35);
  transition: all 500ms;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
  overflow: hidden;
  transition: height 0.5s ease;
}

.themeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
}

.themeImageUpload {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  cursor: pointer;
  transition: all 500ms;
}

.themeImageUpload:hover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 15px;
  filter: brightness(110%) contrast(0.5);
  transition: all 500ms;
}

.body {
  grid-row: 1;
}

.controls {
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.inputControls {
  display: flex;
  flex-direction: column;
}

.nameInput {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 600;
  & input {
    font-family: var(--font-baloo);
    padding: 0.25em 0.75em;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid grey;

    color: var(--foreground);
  }
}

.descriptionInput {
  display: flex;
  flex-direction: column;
  border: none;
  font-size: 0.9em;
  font-family: var(--font-baloo);
  font-weight: 600;
  & textarea {
    padding: 0.25em 0.75em;
    background-color: transparent;
    color: var(--foreground);
    resize: none;
  }
}
