.image {
  width: 100px;
  height: 100px;
}

.container {
  position: relative;
}
.container ul {
  padding: 0.5em 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.container ul li {
  list-style-type: none;
}

.container input {
  padding: 0.1em 1em;
  border-radius: 50px;
  font-family: var(--font-baloo);
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  color: var(--foreground);
}

.container input:focus-within {
  outline: none;
}

.container form:focus-within {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 150ms ease-in-out;
}
.container form {
  transition: all 200ms ease-in-out;
  font-family: var(--font-baloo);
  border: 1px solid var(--main);
  font-size: 1rem;
  background-color: transparent;
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results {
  text-align: start;
}

ul.results {
  position: absolute;
  padding: 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  background-color: black;
  width: 100%;
}

ul.results li .searchItem {
  text-align: start;
}

ul.results li {
  transition: 200ms ease-in-out;
  display: flex;
  justify-content: start;
}

ul.results li:hover {
  background-color: var(--main);
  color: var(--background);
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.resultsWrapper {
  opacity: 0;
  transform: translateY(-0.5rem);
  pointer-events: none;
  transition: grid-template-rows 250ms ease, opacity 200ms ease, transform 200ms ease;
}

.resultsWrapper.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
