.primary {
  width: max-content;
  white-space: nowrap;
  margin-inline: auto;
  border-radius: 50px;
  background-color: var(--main);
  color: var(--text);
  font-weight: 500;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  aspect-ratio: 5/2;
  font-size: 1.8rem;
  margin-block: 0.5em;
  transition: all 0.25s ease-in-out;
  outline: 1px solid var(--text);
}

.primary:hover {
  transition: all 0.25s ease-in-out;
  transform: scale(1.03) translateY(-2px);
  filter: contrast(1.3) brightness(0.9);
}

.theme-sidebar {
  position: fixed;
  top: -10;
  left: 30;
  height: 3rem;
  background-color: var(--main);
  color: var(--background);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  transition: all 0.25s ease-in-out;
}
.theme-sidebar:hover {
  transform: scale(1.03) translateY(10px);
  transition: all 0.25s ease-in-out;
}

.theme-card {
  font-size: 1rem;
  background-color: var(--main);
  border-radius: 50px;
}

@media (max-width: 600px) {
  .primary {
    margin-top: 1em;
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .theme-slider {
    right: -150;
  }
}
