.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.25rem;
  padding: 0.5rem;
}
.avatarWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.details {
  border-radius: 10px;
  outline: 2px solid var(--main);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.avatar {
  width: clamp(50px, 7vw, 75px);
  object-fit: cover;
  aspect-ratio: 1/1;
  object-position: top;
}

.authorName {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.themeName {
  color: var(--main);
  font-size: clamp(1.2rem, 4vw, 2rem);
}

.descriptionHeader {
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.themeDescription {
  color: var(--neutral);
  font-size: clamp(0.9rem, 2vw, 1.3rem);
}

.themeVotes {
  font-size: clamp(0.9rem, 3vw, 1.6rem);
}
