.bgWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.imageContainer {
  position: relative;
  width: 100%;
  pointer-events: none;
}

.bgImage {
  object-fit: cover;
  object-position: top;
  filter: blur(2) contrast(70%) saturate(80%) brightness(0.6);
}
