.navBtn {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  padding: 0.85em;
  border-radius: 50%;
  background-color: var(--accent);
  box-shadow: var(--text-shadow);
}

.navWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  gap: 1em;
}

.yearNav {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 1em;
  font-size: 1.25rem;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(var(--text) 0 0);
  --r1: radial-gradient(farthest-side at bottom, var(--text) 93%, var(--text));
  --r2: radial-gradient(farthest-side at top, var(--text) 93%, var(--text));
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}

@media (max-width: 500px) {
  .titleWrapper {
    aspect-ratio: 3/1;
  }

  .year {
    font-size: 2.75rem;
  }

  .yearNav {
    font-size: 0.9em;
  }
}
