.dropdownWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform-origin: top;
  z-index: 5;
}

.dropdownContainer {
  position: relative;
  z-index: 99;
}

.openDropdown {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: 0.3s all ease-out;
}
