.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  color: var(--foreground);

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.highlight {
  font-family: 'ClashDisplay';
  color: var(--main);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 2;
  gap: 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 520px;
  & p {
    line-height: 1.3;
    text-align: center;
    font-size: 2rem;
    max-width: 22ch;
  }
  & h1 > * {
    font-size: 5.7rem;
  }
  & h1 {
    & .mo,
    .t {
      font-family: 'ClashDisplay';
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 61px;
}

.hero h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  text-align: center;

  color: #d19c1d;

  text-shadow: 0px 9px 0px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.main h1 {
  font-size: 6rem;
}

.main ol {
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.main code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
  & a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  & img {
    flex-shrink: 0;
  }
}

.getStarted {
  text-align: center;
}

.actionBtn {
  background-color: var(--main);
  padding: 1em 1.5em;
  font-weight: 600;
  color: var(--text);
  border-radius: 20px;
  font-size: 1.25rem;
}

.CallToAction {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .header {
    & p {
      font-size: 1.6rem;
    }
    & h1 > * {
      font-size: 4.8rem;
    }
    line-height: 1.3;
  }
  .getStarted h2 {
    font-size: 2.4rem;
  }
  .hero {
    gap: 30px;
  }
  .main {
    gap: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .header {
    & p {
      font-size: 1.2rem;
    }
    & h1 > * {
      font-size: 3.5rem;
    }
  }
  .getStarted h2 {
    font-size: 1.75rem;
  }
  .hero {
    gap: 12px;
  }
  .main {
    gap: 2.25rem;
  }
}
