:root {
  --gap: 1.5rem;
  --lg-gap: 2.5rem;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--lg-gap);
  width: 100%;
}

.wrapper h3 {
  font: var(--font-baloo);
  font-weight: 600;
  font-size: 1.5rem;
}

.header {
  text-align: end;
}

.header h2 {
  font-size: 3rem;
  color: var(--main);
}

.date {
  color: var(--accent);
  text-align: center;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
  gap: 1rem;
}

.track {
  display: flex;
  overflow: hidden;
  width: 560px;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: none;
  width: 560px;
  height: 560px;
  border-radius: 9999px;
  background-color: #999;
  margin-inline: 1rem;
  scroll-snap-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}

.navLeft,
.navRight {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.allThemes {
  margin-top: 1.5rem;
  background-color: #a88fcb;
  border-radius: 1rem;
  padding: 0.5rem 1.25rem;
  font-weight: 600;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
