.navbar {
  /* Navbar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 41px;
  gap: 88px;
  isolation: isolate;

  margin-inline: auto;
  width: 100%;
  max-width: 1440px;
  height: 92px;

  background: #211e21;
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.navbar ul li {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 88px;
}

.navbar li {
  font-size: 1.25rem;
}

.navbar button {
  color: var(--foreground);
}

button:hover {
  color: var(--main);
  transition: 200ms color 0ms cubic-bezier(0.16, 1, 0.3, 1);
}

button.selected {
  color: var(--main);
  border-bottom: 2px solid var(--main);
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
