.container {
  --selected: 0px 4px 1.6px #716174;
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
  padding: 8px;
  line-height: 1.1;
  cursor: pointer;
}

.selected {
  box-shadow: var(--selected);
  background: var(--main);
  outline: 1px solid #0d0d0d;
}

.serverImage {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1/1;
}

.serverName {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-baloo);
}
