.page {
  color: var(--foreground);

  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row-start: 2;
  gap: 3rem;
}

.main h1 {
  font-size: 6rem;
}

.main input {
  padding: 0.5rem 1rem;
  font-family: 'ClashDisplay';
}

.main > input[type='file'] {
  font-family: 'ClashDisplay';
  border: none;
}

.main button {
  background-color: var(--main);
  border-radius: 50px;
}
