.container {
  --selected: 0px 4px 1.6px #716174;
  padding: 1em;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
  padding: 8px;
  line-height: 1.1;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 1.25em;
}

.container:hover:not(.selected) {
  transform: translateY(-3px) scale(1.02);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: var(--shadow);
  outline: 1px solid var(--main);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.6s ease;
}

.selected {
  box-shadow: var(--selected);
  background: var(--main);
  outline: 1px solid #0d0d0d;
  transition: all 0.4s ease;
}

.serverImage {
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1/1;
  outline: 1px solid black;
}

.serverName {
  font-weight: 500;
  font-size: 1.2rem;
  font-family: var(--font-baloo);
}
