.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.panel {
  --background: rgba(0, 0, 0, 0.25);

  background-color: var(--background);
  outline: 1px solid black;
  padding: 1rem;
  flex: 1;
  flex-basis: 150px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: inset 4px 7px 7px rgba(0, 0, 0, 0.35);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  font-size: clamp(1rem, 9vw, 1.5rem);
}

.loaderWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  --c: linear-gradient(var(--main) 0 0);
  --r1: radial-gradient(farthest-side at bottom, var(--main) 93%, var(--main));
  --r2: radial-gradient(farthest-side at top, var(--main) 93%, var(--main));
  background: var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2), var(--c), var(--r1), var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,
  25% {
    background-size: 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(50% - 2px), 0 calc(50% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  50% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(50% - 2px), 50% calc(50% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  75% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 0, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(50% - 2px), 100% calc(50% + 2px);
  }
  95%,
  100% {
    background-size: 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px, 8px 100%, 8px 4px, 8px 4px;
    background-position: 0 50%, 0 calc(0% - 2px), 0 calc(100% + 2px), 50% 50%, 50% calc(0% - 2px), 50% calc(100% + 2px), 100% 50%, 100% calc(0% - 2px), 100% calc(100% + 2px);
  }
}
