:root {
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* BASE POLL */
.poll {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #404040;
  align-self: start;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(64, 64, 64, 0.3) 3.85%, rgba(64, 64, 64, 0.3) 52.4%, rgba(64, 64, 64, 0.3) 95.19%);
  box-shadow: var(--shadow);
  animation: slideInFromRight 0.5s ease-out, blur 0.5s ease-in-out forwards;
  transition: all 0.3s ease-in-out;
}

.poll::before {
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  filter: brightness(30%) contrast(1.2);
  transition: all 0.3s ease-in-out;
  animation: fadeIn 0.6s ease-in-out 0.3s forwards;
}

.poll:hover:before {
  transform: scale(1.05) translateY(-10px);
  transition: all 0.3s ease-in-out;
  filter: brightness(40%);
}

.poll .content {
  z-index: 2;
  position: relative;
}

.poll:hover .content {
  filter: brightness(1.2);
  transition: filter 0.3s ease-in-out;
}

.poll .content h1 {
  font-size: 1.5rem;
  color: var(--foreground);
  font-weight: 600;
}

.poll .votes h2 {
  font-family: 'ClashDisplay';
  font-size: 2rem;
  font-weight: 500;
}

.poll .votes h2:first-child {
  font-size: 3.5rem;
  font-weight: 700;
}

.voteBtn {
  color: var(--foreground);
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
.voteBtn:hover {
  color: var(--main);
  filter: brightness(1.4);
  transition: all 0.2s ease-in-out;
  z-index: 100;
}

/* Upload Modal */
.uploadModalContent {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
}

.uploadModalContent .uploadGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
  align-items: center;
  row-gap: 2em;
  font-size: 1.35rem;
  width: 100%;
}

.uploadModalContent .uploadGrid input {
  background-color: #484348;
  border: none;
  padding: 0.9em;
  width: 100%;
  font-family: var(--font-baloo);
  color: var(--foreground);
  font-size: 1.2rem;
}

.uploadModalContent .fileInput::file-selector-button {
  font-family: 'ClashDisplay';
  background-color: transparent;
  border: none;
  border-radius: 20px;
  margin-right: 0.5em;
  cursor: pointer;
  font-weight: 500;

  padding: 0;
  color: var(--foreground);
}

.uploadModalContent .uploadGrid button {
  background-color: var(--main);
  grid-column: 2;
  justify-self: end;
  border-radius: 50px;
}

/* Theme Modal */

.themeModalContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 70vh;
  width: 40vw;
  min-height: fit-content;
}

.themeModalContainer h1.themeTitle {
  color: var(--foreground);
  font-size: clamp(1rem, 10vw, 3rem);
  text-align: start;
}

.themeModalContainer .themeContainer {
  display: flex;
  align-items: stretch;
}

.themeModalContainer .themeDetails {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.themeModalContainer .themeDetails .avatar {
  width: 125px;
  box-shadow: var(--shadow);
}

.themeModalContainer .themeDetails h1.themeAuthor {
  font-weight: 400;
  color: var(--foreground);
  font-size: 1rem;
}

.themeModalContainer .themeDetails h1.themeVotes {
  font-weight: 700;
  color: var(--foreground);
  font-size: 2rem;
}

.themeModalContainer .themeDetails h2 {
  font-weight: 600;
  color: var(--main);
  font-size: 1rem;
}

.themeModalContainer .themeDetails .themeSupporters {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: 150px;
}

.themeModalContainer .imageWrapper {
  aspect-ratio: 1/ 1.2;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  padding: 1em;
  flex: 1.3;
}

.themeModalContainer .themeImage {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 900px) {
  .themeModalContainer {
    width: 100%;
    margin-inline: 1em;
    min-height: 0;
  }
}

@media (max-width: 600px) {
  .themeModalContainer .themeContainer {
    flex-direction: column;
    gap: 1em;
  }

  .themeModalContainer .imageWrapper {
    width: 100%;
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes blur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
