.avatarContainer {
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.avatarContainer .avatarImage {
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

.avatarImage.zoomed {
  transform: scale(1.45);
}

.avatarContainer .editable:hover {
  filter: brightness(80%) saturate(60%);
  outline: 2px solid var(--accent-color);
  transition: filter 0.3s ease;
}
