.addServer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  outline: 1px solid black;
  flex-basis: 150px;
  border-radius: 20px;
  cursor: pointer;
}

.serverPanel {
  flex-direction: row !important;
}
.serverContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

@media screen and (max-width: 800px) {
  .serverPanel {
    flex-direction: column !important;
  }
  .serverContent {
    flex-direction: column;
    gap: 1rem;
  }
}
