:root {
  --gap: 110px;
}

.marquee {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--main);
  opacity: 25%;
  padding-block: 0.5rem;
  align-items: center;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  min-width: 100%;
  animation: scroll 20s linear infinite;
  height: 3.5rem;
  align-items: top;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
