.marquee {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--main);
  opacity: 25%;
  padding-block: 1rem;
  align-items: center;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  min-width: 100%;
  animation: scroll 20s linear infinite;
  height: 3.5rem;
  align-items: top;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media screen and (max-width: 1000px) {
  .marquee {
    font-size: 1.3rem;
    padding-block: 0.25rem;
    & ul {
      height: 2.5rem;
    }
  }
}
