:root {
  --shadow-left: 15px 0px 8px 0px rgba(0, 0, 0, 0.3);
  --shadow-right: -15px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
/* Curtain Drapes */
.drapesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.drape {
  width: 50%;
  height: 100%;
  background: repeating-linear-gradient(to right, #211e21 0%, #272327 1.5%, #211e21 3%, #272327 4.5%, #211e21 6%);
  z-index: 3;
}

.drape.left {
  transform: translateX(0);
  border-right: 1px solid #000;
  box-shadow: var(--shadow-left);
}

.drape.right {
  transform: translateX(0);
  border-left: 1px solid #000;
  box-shadow: var(--shadow-right);
}

.drapesOpen .drape.left {
  transform: translateX(-100%);
}

.drapesOpen .drape.right {
  transform: translateX(100%);
}
